@use "../../../styles/theme/breakpoints.scss";
@use "../../../styles/theme/typography.scss";
@use "../../../styles/theme/sizes.scss";
@use "../../../styles/theme/colors.scss";

.wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  order: 3;
  flex-basis: 100%;

  opacity: 0;
  transition: opacity ease-in 0.3s;

  @include breakpoints.lg {
    max-width: 0;
    transition: max-width ease-in 0.3s, opacity ease-in 0.3s;
  }

  &.show {
    opacity: 1;

    @include breakpoints.lg {
      max-width: sizes.px(300);
    }
  }

  @media (prefers-reduced-motion) {
    transition: none;
  }

  @include breakpoints.lg {
    order: 0;
    flex-basis: auto;
  }

  white-space: nowrap;

  .heading {
    @include typography.heading-thick;
    color: colors.$white;
    text-align: center;
    text-transform: uppercase;
  }

  .button {
    margin-top: 16px;
    background: white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
    border-radius: 8px;

    @include typography.text-1;

    color: colors.$blue-100;

    padding: 15px 60px;
    text-transform: uppercase;
  }
}
