$blue: #1f3757;
$light-blue: #2a45c2;
$dark-blue: #131537;
$blue-100: #3b4262;
$blue-200: #4664f4;

$light-gray: #f3f3f3;
$gray: #565468;
$gray-100: #babfd4;

$white: white;
$black: black;

$light-red: #9d1634;
$red-200: #db2e4d;

$light-yellow: #c76c1b;
$yellow-200: #eb9f0e;
