@use "./GameBoardCircle/GameBoardCircle.module.scss" as circle;
@use "../../styles/theme/breakpoints.scss";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1;

  margin: 64px 0;

  @include breakpoints.md {
    margin: 32px 0;
  }
}
